<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart</title>
    <!-- Load Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <canvas id="pieCharts"></canvas>
    </div>

    <script>
        // Create the pie chart
        var ctx = document.getElementById("pieCharts").getContext("2d");
        var labels = "{{labels|safe}}"
        var data = "{{data|safe}}"
        var pieChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: labels.split(","),
                datasets: [{
                    data: data,
                    backgroundColor: getRandomColors(data.length), // Function to generate random colors
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        });

        // Function to generate random colors for the pie chart
        function getRandomColors(numColors) {
            var colors = [];
            for (var i = 0; i < numColors; i++) {
                var color = "rgba(" + Math.floor(Math.random() * 256) + ", " + Math.floor(Math.random() * 256) + ", " + Math.floor(Math.random() * 256) + ", 0.7)";
                colors.push(color);
            }
            return colors;
        }
    </script>
</body>
</html>
